## 1. Load the dataset and display the first 5 rows.

In [ ]:
# Your code here

## 2. Display the summary statistics of the dataset.

In [ ]:
# Your code here

## 3. Check for missing values in the dataset.

In [ ]:
# Your code here

## 4. Drop rows with any missing values.

In [ ]:
# Your code here

## 5. Fill missing values with the mean for numerical columns.

In [ ]:
# Your code here

## 6. Fill missing values with the mode for categorical columns.

In [ ]:
# Your code here

## 7. Create a new column 'Salary_Range' by categorizing 'Base_Salary' into Low, Medium, High.

In [ ]:
# Your code here

## 8. Calculate the correlation matrix for numerical columns.

In [ ]:
# Your code here

## 9. Plot a histogram for the 'Total_Compensation' column.

In [ ]:
# Your code here

## 10. Plot a bar chart for the 'Department' column.

In [ ]:
# Your code here

## 11. Plot a scatter plot between 'Years_of_Experience' and 'Base_Salary'.

In [ ]:
# Your code here

## 12. Encode the 'Education_Level' column using one-hot encoding.

In [ ]:
# Your code here

## 13. Normalize the 'Base_Salary' column using Min-Max scaling.

In [ ]:
# Your code here

## 14. Standardize the 'Performance_Rating' column.

In [ ]:
# Your code here

## 15. Create a pivot table showing the average 'Base_Salary' for each 'Role'.

In [ ]:
# Your code here

## 16. Group the data by 'Gender' and calculate the mean 'Total_Compensation'.

In [ ]:
# Your code here

## 17. Filter the dataset for employees with 'Total_Compensation' greater than 100000.

In [ ]:
# Your code here

## 18. Sort the dataset by 'Years_of_Experience' in descending order.

In [ ]:
# Your code here

## 19. Create a new column 'Bonus_Percentage' by dividing 'Bonus' by 'Base_Salary'.

In [ ]:
# Your code here

## 20. Replace all instances of 'Other' in the 'Gender' column with 'Non-binary'.

In [ ]:
# Your code here

## 21. Rename the column 'Base_Salary' to 'Annual_Salary'.

In [ ]:
# Your code here

## 22. Drop the 'City' column from the dataset.

In [ ]:
# Your code here

## 23. Check for duplicate rows in the dataset.

In [ ]:
# Your code here

## 24. Drop any duplicate rows found.

In [ ]:
# Your code here

## 25. Create a new DataFrame containing only 'Employee_ID', 'Name', and 'Total_Compensation'.

In [ ]:
# Your code here

## 26. Merge the new DataFrame with the original dataset on 'Employee_ID'.

In [ ]:
# Your code here

## 27. Create a cross-tabulation of 'Department' and 'Gender'.

In [ ]:
# Your code here

## 28. Create a pivot table showing the count of employees by 'Education_Level' and 'Role'.

In [ ]:
# Your code here

## 29. Replace missing values in 'Performance_Rating' with the median.

In [ ]:
# Your code here

## 30. Calculate the Z-score for the 'Annual_Salary' column.

In [ ]:
# Your code here

## 31. Filter out outliers in the 'Annual_Salary' column based on Z-score.

In [ ]:
# Your code here

## 32. Apply a lambda function to the 'Total_Compensation' column to categorize into 'Low', 'Medium', 'High'.

In [ ]:
# Your code here

## 33. Create a new column 'Years_to_Retirement' by subtracting 'Age' from 65.

In [ ]:
# Your code here

## 34. Extract the first letter from 'Name' and create a new column 'Name_Initial'.

In [ ]:
# Your code here

## 35. Convert the 'Role' column to a categorical data type.

In [ ]:
# Your code here

## 36. Create a box plot for 'Annual_Salary' across different 'Department'.

In [ ]:
# Your code here

## 37. Create a line plot showing the trend of 'Total_Compensation' over 'Years_of_Experience'.

In [ ]:
# Your code here

## 38. Create a heatmap for the correlation matrix.

In [ ]:
# Your code here

## 39. Filter the dataset to include only employees with 'Education_Level' as 'Master's'.

In [ ]:
# Your code here

## 40. Replace outliers in 'Bonus' with the median value.

In [ ]:
# Your code here

## 41. Calculate the percentage of missing values in each column.

In [ ]:
# Your code here

## 42. Reorder the columns so that 'Employee_ID' is the first column.

In [ ]:
# Your code here

## 43. Create a column 'High_Performer' which is True if 'Performance_Rating' > 4, else False.

In [ ]:
# Your code here

## 44. Split the dataset into training (80%) and testing (20%) sets based on 'Employee_ID'.

In [ ]:
# Your code here

## 45. Create a pipeline to preprocess the 'Annual_Salary' and 'Performance_Rating' columns.

In [ ]:
# Your code here

## 46. Export the cleaned dataset to a new CSV file.

In [ ]:
# Your code here

## 47. Save the dataset in Excel format with multiple sheets based on 'Department'.

In [ ]:
# Your code here

## 48. Create a summary report of the dataset including key statistics and visualizations.

In [ ]:
# Your code here

## 49. Write a function to automate the data cleaning process for this dataset.

In [ ]:
# Your code here

## 50. Create a new column 'Compensation_Growth_Potential' using a formula on 'Years_of_Experience' and 'Performance_Rating'.

In [ ]:
# Your code here