## 1. Load the dataset and display the first 5 rows.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('retail_dataset.csv')
df.head()

## 2. Display the summary statistics of the dataset.

In [ ]:
df.describe()

## 3. Check for missing values in the dataset.

In [ ]:
df.isnull().sum()

## 4. Drop rows with any missing values.

In [ ]:
df.dropna(inplace=True)
df.head()

## 5. Fill missing values with the mean for numerical columns.

In [ ]:
df.fillna(df.mean(), inplace=True)
df.head()

## 6. Fill missing values with the mode for categorical columns.

In [ ]:
df.fillna(df.mode().iloc[0], inplace=True)
df.head()

## 7. Create a new column 'Revenue' by multiplying 'Quantity' and 'Unit_Price'.

In [ ]:
df['Revenue'] = df['Quantity'] * df['Unit_Price']
df.head()

## 8. Calculate the correlation matrix for numerical columns.

In [ ]:
df.corr()

## 9. Plot a histogram for the 'Total_Price' column.

In [ ]:
df['Total_Price'].hist(bins=20)

## 10. Plot a bar chart for the 'Store_Location' column.

In [ ]:
df['Store_Location'].value_counts().plot(kind='bar')

## 11. Plot a scatter plot between 'Unit_Price' and 'Total_Price'.

In [ ]:
df.plot.scatter(x='Unit_Price', y='Total_Price')

## 12. Encode the 'Payment_Type' column using one-hot encoding.

In [ ]:
df = pd.get_dummies(df, columns=['Payment_Type'])
df.head()

## 13. Normalize the 'Total_Price' column using Min-Max scaling.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['Total_Price'] = scaler.fit_transform(df[['Total_Price']])
df.head()

## 14. Standardize the 'Discount' column.

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['Discount'] = scaler.fit_transform(df[['Discount']])
df.head()

## 15. Create a pivot table showing the average 'Total_Price' for each 'Store_Location'.

In [ ]:
df.pivot_table(values='Total_Price', index='Store_Location', aggfunc='mean')

## 16. Group the data by 'Return_Status' and calculate the mean 'Total_Price'.

In [ ]:
df.groupby('Return_Status')['Total_Price'].mean()

## 17. Filter the dataset for orders with 'Total_Price' greater than 1000.

In [ ]:
df_filtered = df[df['Total_Price'] > 1000]
df_filtered.head()

## 18. Sort the dataset by 'Purchase_Date' in descending order.

In [ ]:
df.sort_values(by='Purchase_Date', ascending=False).head()

## 19. Create a new column 'Final_Price' by subtracting 'Discount' from 'Total_Price'.

In [ ]:
df['Final_Price'] = df['Total_Price'] - df['Discount']
df.head()

## 20. Replace all instances of 'Returned' in the 'Return_Status' column with 'Processed'.

In [ ]:
df['Return_Status'].replace('Returned', 'Processed', inplace=True)
df.head()

## 21. Rename the column 'Total_Price' to 'Order_Value'.

In [ ]:
df.rename(columns={'Total_Price': 'Order_Value'}, inplace=True)
df.head()

In [ ]:
df

## 23. Check for duplicate rows in the dataset.

In [ ]:
df.duplicated().sum()

## 24. Drop any duplicate rows found.

In [ ]:
df.drop_duplicates(inplace=True)
df.head()

## 25. Create a new DataFrame containing only 'Order_ID', 'Customer_ID', and 'Order_Value'.

In [ ]:
df_subset = df[['Order_ID', 'Customer_ID', 'Order_Value']]
df_subset.head()

## 26. Merge the new DataFrame with the original dataset on 'Order_ID'.

In [ ]:
df_merged = pd.merge(df_subset, df, on='Order_ID')
df_merged.head()

## 27. Create a cross-tabulation of 'Store_Location' and 'Payment_Type'.

In [ ]:
pd.crosstab(df['Store_Location'], df['Payment_Type_Credit Card'])

## 28. Create a pivot table showing the count of orders by 'Store_Location' and 'Return_Status'.

In [ ]:
df.pivot_table(index='Store_Location', columns='Return_Status', aggfunc='size', fill_value=0)

## 29. Replace missing values in 'Discount' with the median.

In [ ]:
df['Discount'].fillna(df['Discount'].median(), inplace=True)
df.head()

## 30. Calculate the Z-score for the 'Unit_Price' column.

In [ ]:
from scipy.stats import zscore
df['Unit_Price_Zscore'] = zscore(df['Unit_Price'])
df.head()

## 31. Filter out outliers in the 'Unit_Price' column based on Z-score.

In [ ]:
df_no_outliers = df[(df['Unit_Price_Zscore'] > -3) & (df['Unit_Price_Zscore'] < 3)]
df_no_outliers.head()

## 32. Apply a lambda function to the 'Order_Value' column to categorize into 'Low', 'Medium', 'High'.

In [ ]:
df['Order_Value_Category'] = df['Order_Value'].apply(lambda x: 'Low' if x < 500 else 'Medium' if x < 1500 else 'High')
df.head()

## 33. Create a new column 'Profit' by subtracting 'Discount' from 'Revenue'.

In [ ]:
df['Profit'] = df['Revenue'] - df['Discount']
df.head()

## 34. Extract the year from 'Purchase_Date' and create a new column 'Purchase_Year'.

In [ ]:
df['Purchase_Date'] = df['Purchase_Date'].astype('datetime64')
df['Purchase_Year'] = df['Purchase_Date'].dt.year
df.head()

## 35. Convert the 'Return_Status' column to a categorical data type.

In [ ]:
df['Return_Status'] = df['Return_Status'].astype('category')
df.dtypes

## 36. Create a box plot for 'Order_Value' across different 'Store_Location'.

In [ ]:
df.boxplot(column='Order_Value', by='Store_Location')

## 37. Create a line plot showing the trend of 'Order_Value' over 'Purchase_Date'.

In [ ]:
df.groupby('Purchase_Date')['Order_Value'].mean().plot()

## 38. Create a heatmap for the correlation matrix.

In [ ]:
import seaborn as sns
sns.heatmap(df.corr(), annot=True)

## 39. Filter the dataset to include only orders with 'Return_Status' as 'Not Returned'.

In [ ]:
df_not_returned = df[df['Return_Status'] == 'Not Returned']
df_not_returned.head()

## 40. Replace outliers in 'Revenue' with the median value.

In [ ]:
median_value = df['Revenue'].median()
df.loc[df['Revenue'] > df['Revenue'].quantile(0.99), 'Revenue'] = median_value
df.head()

## 41. Calculate the percentage of missing values in each column.

In [ ]:
missing_percent = df.isnull().mean() * 100
missing_percent

## 42. Reorder the columns so that 'Order_ID' is the first column.

In [ ]:
df = df[['Order_ID'] + [col for col in df.columns if col != 'Order_ID']]
df.head()

## 43. Create a column 'High_Value_Order' which is True if 'Order_Value' > 2000, else False.

In [ ]:
df['High_Value_Order'] = df['Order_Value'] > 2000
df.head()

## 44. Split the dataset into training (80%) and testing (20%) sets based on 'Order_ID'.

In [ ]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2, random_state=42)
train.shape, test.shape

## 45. Create a pipeline to preprocess the 'Order_Value' and 'Unit_Price' columns.

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

pipeline = Pipeline([
    ('scaler', StandardScaler())
])
df[['Order_Value', 'Unit_Price']] = pipeline.fit_transform(df[['Order_Value', 'Unit_Price']])
df.head()

## 46. Export the cleaned dataset to a new CSV file.

In [ ]:
df.to_csv('cleaned_retail_dataset.csv', index=False)

## 47. Save the dataset in Excel format with multiple sheets based on 'Store_Location'.

In [ ]:
with pd.ExcelWriter('retail_by_location.xlsx') as writer:
    for location in df['Store_Location'].unique():
        df[df['Store_Location'] == location].to_excel(writer, sheet_name=location, index=False)

## 48. Create a summary report of the dataset including key statistics and visualizations.

In [ ]:
df.describe(include='all')

## 49. Write a function to automate the data cleaning process for this dataset.

In [ ]:
def clean_data(df):
    df.dropna(inplace=True)
    df.drop_duplicates(inplace=True)
    df.fillna(df.mean(), inplace=True)
    return df

cleaned_df = clean_data(df.copy())
cleaned_df.head()

## 50. Create a new column 'Customer_Loyalty_Score' using a simple formula on 'Customer_ID' and 'Order_Value'.

In [ ]:
df['Customer_Loyalty_Score'] = df['Customer_ID'] * df['Order_Value']
df.head()