## 1. Load the dataset and display the first 5 rows.

In [ ]:
# Your code here

## 2. Display the summary statistics of the dataset.

In [ ]:
# Your code here

## 3. Check for missing values in the dataset.

In [ ]:
# Your code here

## 4. Drop rows with any missing values.

In [ ]:
# Your code here

## 5. Fill missing values with the mean for numerical columns.

In [ ]:
# Your code here

## 6. Fill missing values with the mode for categorical columns.

In [ ]:
# Your code here

## 7. Create a new column 'Company_Age' based on 'Year_Founded' and the current year.

In [ ]:
# Your code here

## 8. Calculate the correlation matrix for numerical columns.

In [ ]:
# Your code here

## 9. Plot a histogram for the 'Annual_Revenue' column.

In [ ]:
# Your code here

## 10. Plot a bar chart for the 'Product_Lines' column.

In [ ]:
# Your code here

## 11. Plot a scatter plot between 'R&D_Spending' and 'Annual_Revenue'.

In [ ]:
# Your code here

## 13. Normalize the 'Annual_Revenue' column using Min-Max scaling.

In [ ]:
# Your code here

## 14. Standardize the 'Market_Share' column.

In [ ]:
# Your code here

## 15. Create a pivot table showing the average 'R&D_Spending' for each 'Product_Lines'.

In [ ]:
# Your code here

## 16. Group the data by 'CEO_Tenure_Years' and calculate the mean 'Annual_Revenue'.

In [ ]:
# Your code here

## 17. Filter the dataset for companies with 'Annual_Revenue' greater than 50 million.

In [ ]:
# Your code here

## 18. Sort the dataset by 'Market_Share' in descending order.

In [ ]:
# Your code here

## 19. Create a new column 'Revenue_per_Employee' by dividing 'Annual_Revenue' by 'Employees'.

In [ ]:
# Your code here

## 20. Replace all instances of 'Networking' in the 'Product_Lines' column with 'IT Services'.

In [ ]:
# Your code here

## 21. Rename the column 'Annual_Revenue' to 'Revenue'.

In [ ]:
# Your code here

## 22. Drop the 'CEO_Tenure_Years' column from the dataset.

In [ ]:
# Your code here

## 23. Check for duplicate rows in the dataset.

In [ ]:
# Your code here

## 24. Drop any duplicate rows found.

In [ ]:
# Your code here

## 25. Create a new DataFrame containing only 'Company_ID', 'Company_Name', and 'Revenue'.

In [ ]:
# Your code here

## 26. Merge the new DataFrame with the original dataset on 'Company_ID'.

In [ ]:
# Your code here

## 27. Create a cross-tabulation of 'Product_Lines' and 'Market_Share'.

In [ ]:
# Your code here

## 28. Create a pivot table showing the count of companies by 'Product_Lines' and 'Year_Founded'.

In [ ]:
# Your code here

## 29. Replace missing values in 'Market_Share' with the median.

In [ ]:
# Your code here

## 30. Calculate the Z-score for the 'Annual_Revenue' column.

In [ ]:
# Your code here

## 31. Filter out outliers in the 'Annual_Revenue' column based on Z-score.

In [ ]:
# Your code here

## 32. Apply a lambda function to the 'Market_Share' column to categorize into 'Low', 'Medium', 'High'.

In [ ]:
# Your code here

## 33. Create a new column 'Total_Tech_Adoption' by summing 'Adoption_Rate_AI', 'Adoption_Rate_Cloud', and 'Adoption_Rate_Blockchain'.

In [ ]:
# Your code here

## 34. Extract the decade from 'Year_Founded' and create a new column 'Founded_Decade'.

In [ ]:
# Your code here

## 35. Convert the 'Product_Lines' column to a categorical data type.

In [ ]:
# Your code here

## 36. Create a box plot for 'Annual_Revenue' across different 'Product_Lines'.

In [ ]:
# Your code here

## 37. Create a line plot showing the trend of 'Annual_Revenue' over 'Company_Age'.

In [ ]:
# Your code here

## 38. Create a heatmap for the correlation matrix.

In [ ]:
# Your code here

## 39. Filter the dataset to include only companies with 'Product_Lines' as 'Software'.

In [ ]:
# Your code here

## 40. Replace outliers in 'R&D_Spending' with the median value.

In [ ]:
# Your code here

## 41. Calculate the percentage of missing values in each column.

In [ ]:
# Your code here

## 42. Reorder the columns so that 'Company_ID' is the first column.

In [ ]:
# Your code here

## 43. Create a column 'High_Revenue_Company' which is True if 'Annual_Revenue' > 500 million, else False.

In [ ]:
# Your code here

## 44. Split the dataset into training (80%) and testing (20%) sets based on 'Company_ID'.

In [ ]:
# Your code here

## 45. Create a pipeline to preprocess the 'Annual_Revenue' and 'Market_Share' columns.

In [ ]:
# Your code here

## 46. Export the cleaned dataset to a new CSV file.

In [ ]:
# Your code here

## 47. Save the dataset in Excel format with multiple sheets based on 'Product_Lines'.

In [ ]:
# Your code here

## 48. Create a summary report of the dataset including key statistics and visualizations.

In [ ]:
# Your code here

## 49. Write a function to automate the data cleaning process for this dataset.

In [ ]:
# Your code here

## 50. Create a new column 'Innovation_Index' using a simple formula on 'R&D_Spending' and 'Total_Tech_Adoption'.

In [ ]:
# Your code here